
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
# IntelliJ project files
.idea/
*.iml
out
gen
target/
